// Red Hat Text
@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-Regular.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-Regular.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-SemiBold.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-SemiBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "RedHat";
  font-display: swap;
  src: url("../resources/fonts/RedHatText-SemiBold.woff2") format("woff2");
  font-weight: 800;
}

// Red Hat Mono
@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-Regular.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-Regular.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-SemiBold.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-SemiBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "RedHatMono";
  font-display: swap;
  src: url("../resources/fonts/RedHatMono-SemiBold.woff2") format("woff2");
  font-weight: 800;
}
